.pimg
{
width: 320 px;
height: 210px;
}
.head
{
font-size: 30px;
font- weight: bolder;
color: black;
}
.head1
{
font-weight: bolder;
font-family: fantasy;
font-size: 40 px;
}
#h22
{
font-weight: bolder;
font-size:30;
font-family: cursive;
}
